<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0"><dict>
<key>CFBundleIdentifier</key><string>local.mixingdesk.driver</string>
<key>CFBundleName</key><string>Mixing Desk Audio</string>
<key>CFBundleExecutable</key><string>MixingDeskAudio</string>
<key>CFBundlePackageType</key><string>BNDL</string>
<key>CFBundleVersion</key><string>2</string>
<key>CFBundleShortVersionString</key><string>0.1.1</string>
<key>CFPlugInDynamicRegistration</key><false/>
<key>CFPlugInFactories</key><dict><key>87D69842-EBD2-4919-AF5E-537551FF95D5</key><string>MixingDeskDriverFactory</string></dict>
<key>CFPlugInTypes</key><dict><key>443ABAB8-E7B3-491A-B985-BEB9187030DB</key><array><string>87D69842-EBD2-4919-AF5E-537551FF95D5</string></array></dict>
</dict></plist>
